/* .categories__name {
  @media (max-width: 1000px) {
    display: none;
  }
}

.donut {
  @media (max-width: 768px) {
    margin-top: 20px;
  }
}
 */

/* .progress__wrapper {
  @media (max-width: 1180px) {
    margin-right: 1000px;
  }
} */
