@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: nunito-extraLight;
  src: url(../fonts/Nunito-ExtraLight.ttf);
}
@font-face {
  font-family: nunito-wght;
  src: url(../fonts/Nunito-VariableFont_wght.ttf);
}

/* body {
  background: #eff6ff url("/assets/Shapes.png") no-repeat right; //this line is not working on my browser. anyone can try this?
} */
/**/
///////////////////////////////////////////////

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

.main-font {
  font-family: "Nunito Sans", sans-serif;
}

.sub-font {
  font-family: "Gluten", cursive;
}

.sub-font-2 {
  font-family: "Poppins", sans-serif;
}

.sub-font-3 {
  font-family: "Nunito", sans-serif;
}

.active {
  @apply text-blue-400;
}

.slick-slide > div {
  margin: 0 10px;
}

.slick-prev:before,
.slick-next:before {
  font-size: 30px !important; /* Adjust as needed */
  color: #000 !important;
}

.slick-prev {
  margin-left: 10px; /* Adjust the left margin as needed */
}

.slick-next {
  margin-right: 20px; /* Adjust the right margin as needed */
}

.blob {
  width: 112px;
  height: 112px;
  display: grid;
  background: #fff;
  filter: blur(4.5px) contrast(10);
  padding: 11.2px;
  mix-blend-mode: darken;
}

.blob:before {
  content: "";
  grid-area: 1/1;
  margin: 33.6px 0;
  border-radius: 112px;
  background: #474bff;
}

.blob:after {
  content: "";
  grid-area: 1/1;
  width: 39.2px;
  height: 39.2px;
  margin: auto;
  border-radius: 50%;
  background: #474bff;
  animation: blob-lwysv3md 2s infinite linear;
}

@keyframes blob-lwysv3md {
  0% {
    transform: translate(33.6px);
  }

  25% {
    transform: translate(0);
  }

  50% {
    transform: translate(-33.6px);
  }

  75% {
    transform: translate(0);
  }

  100% {
    transform: translate(33.6px);
  }
}
